.footer-main {
    background-color: white;
    color: red;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}